    <div class="catalog-filter__title">
        <span class="dropdown__toggle_c">Раздел</span>
        <span class="pull-right catalog-filter__toggle dropdown__toggle_c">
          <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
        </span>
        <span class="pull-right catalog-filter__reset catalog-filter__reset_c reset-checked hidden">
          Сбросить
        </span>
      </div>
      <ul class="catalog-filter__content clear-checked_c">
      {% for i in categories_filter %}
        <li>
        <input {% if i.checked %}checked{% endif %} class="hidden category_1_input" data-id="{{ i.id }}" id="cat_1_{{ i.id }}" type="checkbox">
        <label class="checkbox" for="cat_1_{{ i.id }}">{{ i.name }} ({{ i.count }})</label>
        </li>
      {% endfor %}
      </ul>

{% if categories_filter_2 %}
    <div class="catalog-filter__title">
        <span class="dropdown__toggle_c">Категория</span>
        <span class="pull-right catalog-filter__toggle dropdown__toggle_c">
          <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
        </span>
        <span class="pull-right catalog-filter__reset catalog-filter__reset_c reset-checked hidden">
          Сбросить
        </span>
      </div>
      <ul class="catalog-filter__content clear-checked_c">
      {% for i in categories_filter_2 %}
        <li>
        <input {% if i.checked %}checked{% endif %} class="hidden category_2_input" data-id="{{ i.id }}" id="cat_2_{{ i.id }}" type="checkbox">
        <label class="checkbox" for="cat_2_{{ i.id }}">{{ i.name }} ({{ i.count }})</label>
        </li>
      {% endfor %}
      </ul>
{% endif %}

{% if categories_filter_3 %}
    <div class="catalog-filter__title">
        <span class="dropdown__toggle_c">Товарная группа</span>
        <span class="pull-right catalog-filter__toggle dropdown__toggle_c">
          <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
        </span>
        <span class="pull-right catalog-filter__reset catalog-filter__reset_c reset-checked hidden">
          Сбросить
        </span>
      </div>
      <ul class="catalog-filter__content clear-checked_c">
      {% for i in categories_filter_3 %}
        <li>
        <input {% if i.checked %}checked{% endif %} class="hidden category_3_input" data-id="{{ i.id }}" id="cat_3_{{ i.id }}" type="checkbox">
        <label class="checkbox" for="cat_3_{{ i.id }}">{{ i.name }} ({{ i.count }})</label>
        </li>
      {% endfor %}
      </ul>
{% endif %}