{% extends 'base.html' %}
{% load staticfiles thumbnail humanize shop_tags %}


{% block container %}

{% if order and order_goods %}
<div class="container">
    <div class="inner cart row">
        <div class="col col-12">
            <div class="h2">Детальная информация о заказе №{{ order.pk }}</div>
            <div class="cart">
                <div class="table">
                    <div class="table-row thead hidden-mb">
                        <div class="cell">№ п/п</div>
                        <div class="cell">Описание</div>
                        <div class="cell">Цена</div>
                        <div class="cell">Количество</div>
                        <div class="cell">Сумма</div>
                    </div>
                    {% for c in order_goods %}
                    <div class="table-row tbody">
                        <div class="cell hidden-mb">{{ forloop.counter }}</div>

                        <div class="cell">
                            {% if c.image %}
                            {% thumbnail c.image "100x100" padding=True as im %}
                            <a href="{{ c.url }}"><img src="{{ im.url }}" alt=""></a>
                            {% endthumbnail %}
                            {% else %}
                            {% thumbnail 'no_photo.jpg' "100x100" padding=True as im %}
                            <a href="{{ c.url }}"><img src="{{ im.url }}" alt=""></a>
                            {% endthumbnail %}
                            {% endif %}
                            <div class="cart__info">
                                <div class="cart__description">
                                    <a href="{{ c.url }}">{{ c.name }}</a>
                                </div>
                                <div class="cart__item">
                                    <span class="name">Артикул:</span>
                                    <span>{{ c.vendor_code }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="cell cell__mobile">
                            <span class="cart__hidden">Цена:</span>
                            {{ c.price|intcomma }}
                        </div>

                        <div class="cell cell__mobile text-center nostretch">
                            <span class="cart__hidden">Количество:</span>
                            {{ c.count }}
                        </div>
                        <div class="cell cell__mobile text-center">
                            <span class="cart__hidden">Сумма:</span>
                            {{ c.total_cost|intcomma }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="cart__eq cart_y">
                    <div class="cart__summ cart__all">Итого: {{ order_goods|running_total|intcomma }} руб.</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

