celery==4.0.2
django<2.0
django-admin-tools
django-ckeditor
django-compressor
django-debug-toolbar
django-htmlmin
django-mptt-nomagic
django-redis
pillow
psycopg2-binary
psutil
sorl-thumbnail
unidecode
uwsgi
git+https://github.com/smacker/django-filebrowser-no-grappelli.git
git+https://rown@bitbucket.org/rown/django-ajax.git
git+https://rown@bitbucket.org/rown/django-cache-model.git
git+https://rown@bitbucket.org/rown/django-mail.git
git+https://rown@bitbucket.org/rown/django-preferences.git
git+https://rown@bitbucket.org/rown/django-public-model.git
git+https://rown@bitbucket.org/rown/django-server-resources.git
git+https://rown@bitbucket.org/rown/django-seo.git
git+https://rown@bitbucket.org/rown/django-sort-model.git
git+https://rown@bitbucket.org/rown/django-pages.git
